<div class="schedule_container grid_12">
<h2>Horaires à l'arrêt <%= @stop_name %></h2>
<a href="/" class="back_to_map">Retour à la carte</a>
<%= div_clear %>
<% if @other_lines && @other_lines.length > 0 %>
    <div class="other_lines grid_6 push_3">
      <h3>Autres lignes à cet arrêt</h3>
      <ul class="other_lines">
        <% @other_lines.each do |line| %>
        <li><%= link_to line[:name], { :line_id => line[:id], :stop_id => @stop_id } %></li>
        <% end %>
        <li><%= link_to "Tous...", { :stop_id => @stop_id, :line_id => nil } %></li>
      </ul>
    </div>
<%= div_clear %>
<% end %>
<div class="accordion">
<% @schedule.each do |direction_id,hours| %>
  <h3><%= @headsigns[direction_id] %></h3>
<div>
  <table class="schedule">
    <tr class="head">
      <th>&nbsp;</th>
      <% @all_calendars[direction_id].keys.sort.each do |calendar| %>
      <th><%= Calendar.range_to_str( calendar ) %></th>
      <% end %>
    </tr>
    <% hours.keys.sort.each do |hour| %>
    <tr>
      <th><%= hour % 24 %>h</th>
      <% @all_calendars[direction_id].keys.sort.each do |calendar| %>
      <td<% if ( calendar & Calendar.from_time( Time.zone.now ) > 0 ) and ( hour == Time.zone.now.hour ) %> class="current"<% end %>>&nbsp;
        <% if hours[hour].has_key? calendar %>
          <% hours[hour][calendar].each do|min| %>
            <span class="mins"><%= "%02d" % min %></span>
          <% end # mins %>
        <% end %>
      </td>
      <% end # calendar %>
    </tr>
    <% end # hours%>
  </table>
</div>
<% end %>
</div>

<%= init_javascript "$('.accordion').accordion();" %>
<%= init_javascript "$.Star.init();" %>
</div>