<div class="schedule_container grid_12">
<h2>Horaires à l'arrêt <%= @stop_name %></h2>
<a href="/" class="back_to_map">Retour à la carte</a>
<%= div_clear %>
<% if @schedule.keys.count > 1 %>
    <div class="dir_select">
      <label for="heading">Vers:</label>
  <%= select_tag "heading", 
                options_for_select( @headsigns.invert, @schedule.keys.first ) %>
    </div>
<% end %>
<% @schedule.each do |direction_id,hours| %>
<div class="headsign" id="heading_<%= direction_id %>">
  <h3><%= @headsigns[direction_id] %></h3>
  <%= div_clear %>
  <table class="schedule">
    <tr>
      <th>&nbsp;</th>
      <% @all_calendars.keys.each do |calendar| %>
      <th><%= Calendar.range_to_str( calendar ) %></th>
      <% end %>
    </tr>
    <% hours.keys.sort.each do |hour| %>
    <tr>
      <th><%= hour %>h</th>
      <% @all_calendars.keys.each do |calendar| %>
      <td>&nbsp;
        <% if hours[hour].has_key? calendar %>
          <% hours[hour][calendar].each do|min| %>
            <%= min %><br />
          <% end # mins %>
        <% end %>
      </td>
      <% end # calendar %>
    </tr>
    <% end # hours%>
  </table>
</div>
<% end %>

<%= init_javascript "$('div.headsign:first').show();" %>
<%= init_javascript "$.Star.init();" %>
</div>