<% if request.xhr? %>
<div class="schedule_container grid_12 alpha omega container_12">
<% else %>
<div class="schedule_header container_12">
<h1>Bus de <span>Rennes</span> en ligne</h1>
</div>
<div class="schedule_container container_12">
<% end %>
<h2><%= @title %></h2>
<% unless request.xhr? %><%= link_to "Retour à la carte", agency_url(@agency), { class: "back_to_map" } %><% end %>
<%= div_clear %>
<% if @other_lines && @other_lines.length > 0 %>
    <div class="other_lines grid_6 push_3">
      <h3>Autres lignes à cet arrêt</h3>
      <ul class="other_lines">
        <% @other_lines.each do |line| %>
          <li><%= link_to line.picto_url.blank? ? line.short_name : image_tag(line.picto_url), { :line_id => line, :stop_id => @stop } %></li>
        <% end %>
        <li><%= link_to "Toutes...", { :stop_id => @stop, :line_id => nil, :route_id => nil } %></li>
      </ul>
      <%= div_clear %>
    </div>
<%= div_clear %>
<% end %>
<div class="accordion">
<% @schedule.keys.sort {|a,b| @headsigns[a] <=> @headsigns[b] }.each do |direction_id| hours = @schedule[direction_id] %>
  <h3><%= @headsigns[direction_id] %></h3>
<div>
  <table class="schedule">
    <tr class="head">
      <th>&nbsp;</th>
      <% @all_calendars[direction_id].keys.sort.each do |calendar| %>
      <th><%= Calendar.range_to_str( calendar ) %></th>
      <% end %>
    </tr>
    <% hours.keys.sort.each do |hour| %>
    <tr>
      <th><%= hour % 24 %>h</th>
      <% @all_calendars[direction_id].keys.sort.each do |calendar| %>
      <td<% if ( calendar & Calendar.from_time( Time.zone.now ) > 0 ) and ( hour == Time.zone.now.hour ) %> class="current"<% end %>>&nbsp;
        <% if hours[hour].has_key? calendar %>
          <% hours[hour][calendar].sort.each do|min| %>
            <span class="mins"><%= "%02d" % min %></span>
          <% end # mins %>
        <% end %>
      </td>
      <% end # calendar %>
    </tr>
    <% end # hours%>
  </table>
</div>
<% end %>
</div>
<%= div_clear %>

<%= init_javascript "$('.accordion').accordion();" %>
</div>
