<div class="schedule_container grid_12">
<h2>Horaires à l'arrêt <%= @stop_name %></h2>
<a href="/" class="back_to_map">Retour à la carte</a>
<%= div_clear %>
<div class="accordion">
<% @schedule.each do |direction_id,hours| %>
  <h3><%= @headsigns[direction_id] %></h3>
<div>
  <table class="schedule">
    <tr class="head">
      <th>&nbsp;</th>
      <% @all_calendars.keys.sort.each do |calendar| %>
      <th><%= Calendar.range_to_str( calendar ) %></th>
      <% end %>
    </tr>
    <% hours.keys.sort.each do |hour| %>
    <tr>
      <th><%= hour % 24 %>h</th>
      <% @all_calendars.keys.sort.each do |calendar| %>
      <td>&nbsp;
        <% if hours[hour].has_key? calendar %>
          <% hours[hour][calendar].each do|min| %>
            <span class="mins"><%= "%02d" % min %></span>
          <% end # mins %>
        <% end %>
      </td>
      <% end # calendar %>
    </tr>
    <% end # hours%>
  </table>
</div>
<% end %>
</div>

<%= init_javascript "$('.accordion').accordion();" %>
<%= init_javascript "$.Star.init();" %>
</div>