
<% if @line_data %>
  <ul id='line_data'>
    <% @line_data.each do |stop| %>
      <li>
        <h2><%= link_to stop[:name], stop[:schedule_url], { 'data-id' => stop[:id], 'data-lat' => stop[:lat], 'data-lon' => stop[:lon], 'data-others' => stop[:others].join(',') } %></h2>
        <% if stop.has_key? :times %>
          <% stop[:times].each do |trip| %>
            <div>
              <%= content_tag( :h3, 
                               link_to( trip[:direction], trip[:schedule_url], 'data-bearing' => trip[:bearing] ) ) %>
              <% trip[:times].each do |time| %>
                <%= content_tag( :span, time[:t], 'data-tid' => time[:tid] ) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end%>
  </ul>
<% end %>
<% lines = Line.all
   lines_groupes = [ lines.select(&:is_urban?   ),
                     lines.select(&:is_suburban?),
                     lines.select(&:is_express? ),
                     lines.select(&:is_special? ) ] %>

<div id='map_browser'>
  <div id="lines">
    <ul>
      <li><a href="#urban">Lignes urbaines</a></li>
      <li><a href="#suburban">Lignes suburbaines</a></li>
      <li><a href="#express">Lignes express</a></li>
      <li><a href="#special">Lignes spéciales</a></li>
    </ul>
    <div id="urban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[0] %>
    </div>
    <div id="suburban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[1] %>
    </div>
    <div id="express" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[2] %>
    </div>
    <div id="special" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[3] %>
    </div>
  </div>
  <div id="map" class="grid_12"> </div>
  <%= div_clear %>
</div>
  <% init_javascript "$.Star.init();" %>
