
<% if @line_data %>
  <ul id='line_data'>
    <% @line_data.each do |stop| %>
      <li>
        <% stop_options = { 'data-id' => stop[:id], 'data-lat' => stop[:lat], 'data-lon' => stop[:lon], 'data-others' => stop[:others].join(','), 'data-accessible' => stop[:accessible] } 
           stop_options['data-selected'] = 1 if stop[:id] == @selected_stop %>
        <h2><%= link_to stop[:name], stop[:schedule_url], stop_options %></h2>
        <% if stop.has_key? :times %>
          <% stop[:times].each do |trip| %>
            <div>
              <%= content_tag( :h3, 
                               link_to( trip[:direction], trip[:schedule_url], 'data-bearing' => trip[:bearing] ) ) %>
              <% trip[:times].each do |time| %>
                <%= content_tag( :span, time[:t], 'data-tid' => time[:tid] ) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end%>
  </ul>
<% end %>
<div id='map_browser'>
  <div id="lines">
    <ul>
      <li><a href="#urban">Lignes urbaines</a></li>
      <li><a href="#suburban">Lignes suburbaines</a></li>
      <li><a href="#express">Lignes express</a></li>
      <li><a href="#special">Lignes spéciales</a></li>
      <li><a href="#misc">Autrement</a></li>
      <li><a href="#help">Aide</a></li>
    </ul>
    <span id="ajax-loader" style="display: none;">
      <img src="/images/ajax-loader.gif">
    </span>
<% cache('all_lines') do %>
<% lines = Line.all
   lines_groupes = [ lines.select(&:is_urban?   ),
                     lines.select(&:is_suburban?),
                     lines.select(&:is_express? ),
                     lines.select(&:is_special? ) ] %>

   <div id="urban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[0] %>
    </div>
    <div id="suburban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[1] %>
    </div>
    <div id="express" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[2] %>
    </div>
    <div id="special" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[3] %>
    </div>
<% end %>
    <div id="misc">
      <%= check_box_tag "find_stops", '1', @stops %>
      <label for="find_stops">Parcourir les arrêts</label>
    </div>
    <div id="help">
      <div class="grid_6 alpha">
        <h2>Fonctionnement de la cartographie</h2>
        <p>La vu cartographique permets d'afficher les arrêts des différentes lignes du réseau STAR. 
          S'ils sont disponibles, cliquer sur l'icône d'un arrêt permet d'afficher les passages à venir. 
          À partir de là, il est possible soit d'afficher les horaires complets, soit d'éventuellement
          consulter les horaires des correspondances à cet arrêt.</p>
        <h2>Source de données</h2>
        <p>Les horaires indiqués sont théoriques et fournis par Keolis Rennes / Rennes Métropole. Un traitement
          automatique étant appliqué à ces données, merci de bien vouloir <a href="mailto:maps@dthg.net">contacter
          l'auteur</a> en cas d'erreur ou d'incohérence.</p>
        <p>Ce service n'est pas affilié au STAR, Keolis Rennes ou Rennes Métropole.</p>
      </div>
      <div class="grid_6 omega">
        <h2>Signification des icônes</h2>
        <dl>
          <dt><img src="/images/bus_red.png" /></dt>
          <dd>Pas de bus dans les 2 heures à venir, plusieurs lignes desservent cet arrêt;</dd>
          <dt><img src="/images/bus_green.png" /></dt>
          <dd>Au moins un passage de bus dans les 2 heures à venir, plusieurs lignes desservent cet arrêt;</dd>
          <dt><img src="/images/point_red.png" /></dt>
          <dd>Pas de bus dans les 2 heures à venir, seule la ligne courante dessert cet arrêt;</dd>
          <dt><img src="/images/point_green.png" /></dt>
          <dd>Au moins un passage de bus dans les 2 heures à venir, seule la ligne courante dessert cet arrêt.</dd>
        </dl>
      </div>
      <%= div_clear %>
    </div>
  </div>
  <div id="map" class="grid_12"> </div>
  <%= div_clear %>
</div>
  <% init_javascript "$.Star.init();" %>
