
  <h1>Bus de <span id="<%= @agency.slug %>"><%= @agency.city %></span> en ligne</h1>
<% if @line_data %>
  <div id='line_data' data-line-url='<%= home_line_path( @agency, @line )%>' data-bgcolor="<%= @line_bgcolor %>" data-short="<%= @line.short_name %>">
    <h2><%= @line.short_name %> <%= @line.long_name %></h2>
    <ul id="line_stops">
    <% @line_data.each do |stop| %>
      <li>
        <% stop_options = { 'data-id' => stop[:id], 'data-lat' => stop[:lat], 'data-lon' => stop[:lon], 'data-others' => stop[:others].join(','), 'data-accessible' => stop[:accessible] } 
           stop_options['data-selected'] = 1 if stop[:id] == @selected_stop_id %>
        <h3><%= link_to stop[:name], stop[:schedule_url], stop_options %></h3>
        <% if stop.has_key? :times %>
          <% stop[:times].each do |trip| %>
            <div>
              <%= content_tag( :h4, 
                               link_to( trip[:direction], trip[:schedule_url], 'data-bearing' => trip[:bearing] ) ) %>
              <% trip[:times].each do |time| %>
                <% data = { tid: time[:tid] } 
                   if time[:t] != time[:t_dep]
                     data[:dep] = time[:t_dep]
                   end %>
                <%= content_tag( :span, time[:t], 'data' => data ) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end%>
  </ul>
  <% if @incidents and @incidents.length > 0 %>
    <h3>Perturbations en cours</h3>
    <ul id="current_incidents">
      <% @incidents.each do |incident| %>
        <li data-id="<%= incident.id %>"><%= incident.title %></li>
      <% end %>
    </ul>
    <p><%= link_to "Plus de détails sur les perturbations en cours", line_incidents_path( @agency, @line ) %></p>
  <% end %>
  <% if @line_paths %>
    <ul id='line_paths' style="display: none">
      <%= @line_paths.collect {|p| tag 'li', { 'data-line' => p } }.join.html_safe %>
    </ul>
  <% end %>
  </div>
<% end %>
  <div id="navigator">
    <div id="lines">
<% cache( 'all_lines_' + @agency.id.to_s ) do %>
  <% lines = @agency.lines.all
     lines_groupes = [ lines.select(&:is_urban?   ),
                       lines.select(&:is_suburban?),
                       lines.select(&:is_express? ),
                       lines.select(&:is_special? ) ] %>
      <ul id="line_types">
        <li><a href="#urban">Lignes urbaines</a></li>
        <% unless lines_groupes[1].empty? %><li><a href="#suburban">Suburbaines</a></li><% end %>
        <% unless lines_groupes[1].empty? %><li><a href="#express">Express</a></li><% end %>
        <li><a href="#special">Spéciales</a></li>
      </ul>
      <%  [ "urban", "suburban", "express", "special" ].each_with_index do |h_id,idx| next if lines_groupes[idx].empty? %>
      <div id="<%= h_id %>" class="list">
        <%= render :partial => 'lines', :object => lines_groupes[idx] %>
      </div>
      <% end %>
<% end %>
    <%= div_clear %>
    </div>
    <div id="search">
      <div>
        <%= form_tag search_path(@agency) do %>
          <label for="term">Rechercher</label>
          <input type="text" name="term">
        <% end %>
      </div>
      <div class="results">
      </div>
    </div>
    <span id="ajax-loader" style="display: none;">
      <img src="<%= image_path "ajax-loader.gif" %>" alt="en cours">
    </span>
    <div id="other_actions">
      <button class="help">Aide</button>
      <button class="search">Chercher</button>
      <div id="ref_date" class="text_widget">Maintenant</div>
      <div id="incidents" class="text_widget" style="display: none;"><a href=""><span class="nb"></span> perturbation<span class="plural">s</span></a></div>
    </div>
  </div>
  </div>
  </div>
  <div id="map" data-center="<%= @agency.center.x %>,<%= @agency.center.y %>" data-ads-allowed="<%= @agency.ads_allowed ? 1 : "" %>"> </div>
  <div id="feedinfo">Source: <% info = [ @agency.publisher, @agency.feed_ref ].join(", "); if @agency.feed_url? %><%= link_to info, @agency.feed_url %><% else %><%= info %><% end %></div>

  <div style="display: none">
    <div id="help" class="container_12">
      <div class="grid_12 alpha omega">
        <h2>À propos</h2>
        <p>Cette application a, en partie, été réalisée dans le cadre
          de <span>Rennes Métropole en accès libre</span>.</p>
        <p>Retrouvez l'actualité sur le <a href="/blog/">weblog</a>,
            le <a href="http://github.com/stanguy/Star-GTFS">code
            source de cette application sur Github</a>
            et <a href="http://itunes.apple.com/fr/app/bus-de-rennes-en-poche/id412512682?mt=8">Bus
            de Rennes en Poche</a>
            et <a href="http://itunes.apple.com/fr/app/bus-de-saint-lo-en-poche/id467968866?mt=8">Bus
            de St Lô en Poche</a> pour votre iPhone ou iPod Touch sur
            l'AppStore Apple</p>
      </div>
      <div class="grid_6 alpha">
        <h2>Fonctionnement de la cartographie</h2>
        <p>La vue cartographique permet d'afficher les arrêts des
          différentes lignes du réseau <%= @agency.name %> des bus de l'agglomération
          de <%= @agency.city %>.  S'ils sont disponibles, cliquer sur l'icône d'un
          arrêt permet d'afficher les passages à venir.  À partir de
          là, il est possible soit d'afficher les horaires complets,
          soit d'éventuellement consulter les horaires des
          correspondances à cet arrêt.</p>
        <h2>Source de données</h2>
        <p>Les horaires indiqués sont théoriques et fournis par
          <%= @agency.publisher %>. Un traitement automatique étant
          appliqué à ces données, merci de bien
          vouloir <a href="mailto:maps@dthg.net">contacter
          l'auteur de ce site</a> en cas d'erreur ou d'incohérence.</p>
        <p>Ce service n'est <b>pas</b> affilié à <%= @agency.publisher
        %>, <%= @agency.name %> ou à la ville de <%= @agency.city
        %>.</p>
      </div>
      <div class="grid_6 omega">
        <h2>Signification des icônes</h2>
        <dl>
          <dt><img src="<%= image_path "bus_red.png" %>" alt="bus rouge" /></dt>
          <dd>Pas de bus dans les 2 heures à venir, plusieurs lignes desservent cet arrêt;</dd>
          <dt><img src="<%= image_path "bus_green.png" %>" alt="bus vert" /></dt>
          <dd>Au moins un passage de bus dans les 2 heures à venir, plusieurs lignes desservent cet arrêt;</dd>
          <dt><img src="<%= image_path "point_red.png" %>" alt="point rouge" /></dt>
          <dd>Pas de bus dans les 2 heures à venir, seule la ligne courante dessert cet arrêt;</dd>
          <dt><img src="<%= image_path "point_green.png" %>" alt="point vert" /></dt>
          <dd>Au moins un passage de bus dans les 2 heures à venir, seule la ligne courante dessert cet arrêt.</dd>
        </dl>
      </div>
      <%= div_clear %>
    </div>
    
    <% cache( 'agencies' ) do %>
      <div id="agency_select">
        <ul>
          <% Agency.all.each do |agency| %>
            <li><%= link_to agency.city, agency_path( agency ) %></li>
          <% end %>
        </ul>
        <%= div_clear %>
      </div>
    <% end %>
  </div>
  <% init_javascript "$.dthg.Bus.init();" %>
