
<% if @line_data %>
  <ul id='line_data' data-line-url='<%= home_line_path( @line )%>'>
    <% @line_data.each do |stop| %>
      <li>
        <% stop_options = { 'data-id' => stop[:id], 'data-lat' => stop[:lat], 'data-lon' => stop[:lon], 'data-others' => stop[:others].join(','), 'data-accessible' => stop[:accessible] } 
           stop_options['data-selected'] = 1 if stop[:id] == @selected_stop %>
        <h2><%= link_to stop[:name], stop[:schedule_url], stop_options %></h2>
        <% if stop.has_key? :times %>
          <% stop[:times].each do |trip| %>
            <div>
              <%= content_tag( :h3, 
                               link_to( trip[:direction], trip[:schedule_url], 'data-bearing' => trip[:bearing] ) ) %>
              <% trip[:times].each do |time| %>
                <%= content_tag( :span, time[:t], 'data-tid' => time[:tid] ) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end%>
  </ul>
<% end %>
  <div id="navigator">
    <div id="city_info">
      Rennes
    </div>
    <div id="lines">
      <div id="handheld_startmap"><h1>Horaires et plans du réseau de bus STAR de Rennes Métropole</h1>
        <a href="#">Cliquer ici pour activer la carte (non optimisé pour votre affichage)</a></div>
      <ul>
        <li><a href="#urban">Lignes urbaines</a></li>
        <li><a href="#suburban">Suburbaines</a></li>
        <li><a href="#express">Express</a></li>
        <li><a href="#special">Spéciales</a></li>
      </ul>
    <span id="ajax-loader" style="display: none;">
      <img src="<%= image_path "ajax-loader.gif" %>">
    </span>
<% cache('all_lines') do %>
<% lines = Line.all
   lines_groupes = [ lines.select(&:is_urban?   ),
                     lines.select(&:is_suburban?),
                     lines.select(&:is_express? ),
                     lines.select(&:is_special? ) ] %>

   <div id="urban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[0] %>
    </div>
    <div id="suburban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[1] %>
    </div>
    <div id="express" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[2] %>
    </div>
    <div id="special" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[3] %>
    </div>
<% end %>
      <%= div_clear %>
    </div>
    <div id="other_actions">
      <button>Aide</button><br />
      <button class="alert"><%= image_tag "perturbation.png" %></button>
    </div>
  </div>
  </div>
  </div>

  <div id="map"> </div>
  <% init_javascript "$.dthg.Bus.init();" %>
  <%# init_javascript "$.Star.Bikes.init();" %>
