
<% if @line_data %>
  <ul id='line_data' data-line-url='<%= home_line_path( @line )%>'>
    <% @line_data.each do |stop| %>
      <li>
        <% stop_options = { 'data-id' => stop[:id], 'data-lat' => stop[:lat], 'data-lon' => stop[:lon], 'data-others' => stop[:others].join(','), 'data-accessible' => stop[:accessible] } 
           stop_options['data-selected'] = 1 if stop[:id] == @selected_stop %>
        <h2><%= link_to stop[:name], stop[:schedule_url], stop_options %></h2>
        <% if stop.has_key? :times %>
          <% stop[:times].each do |trip| %>
            <div>
              <%= content_tag( :h3, 
                               link_to( trip[:direction], trip[:schedule_url], 'data-bearing' => trip[:bearing] ) ) %>
              <% trip[:times].each do |time| %>
                <%= content_tag( :span, time[:t], 'data-tid' => time[:tid] ) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end%>
  </ul>
<% end %>
  <div id="navigator">
    <h1>
      Bus de <span>Rennes</span> en ligne
    </h1>
    <div id="lines">
      <ul>
        <li><a href="#urban">Lignes urbaines</a></li>
        <li><a href="#suburban">Suburbaines</a></li>
        <li><a href="#express">Express</a></li>
        <li><a href="#special">Spéciales</a></li>
      </ul>
    <span id="ajax-loader" style="display: none;">
      <img src="<%= image_path "ajax-loader.gif" %>">
    </span>
<% cache('all_lines') do %>
<% lines = Line.all
   lines_groupes = [ lines.select(&:is_urban?   ),
                     lines.select(&:is_suburban?),
                     lines.select(&:is_express? ),
                     lines.select(&:is_special? ) ] %>

   <div id="urban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[0] %>
    </div>
    <div id="suburban" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[1] %>
    </div>
    <div id="express" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[2] %>
    </div>
    <div id="special" class="list">
      <%= render :partial => 'lines', :object => lines_groupes[3] %>
    </div>
<% end %>
      <%= div_clear %>
    </div>
    <div id="other_actions">
      <button class="help">Aide</button><br />
    </div>
  </div>
  </div>
  </div>

  <div id="map"> </div>

  <div style="display: none">
    <div id="help" class="container_12">
      <div class="grid_6 alpha">
        <h2>Fonctionnement de la cartographie</h2>
        <p>La vue cartographique permet d'afficher les arrêts des
          différentes lignes du réseau STAR des bus de l'agglomération
          rennaise.  S'ils sont disponibles, cliquer sur l'icône d'un
          arrêt permet d'afficher les passages à venir.  À partir de
          là, il est possible soit d'afficher les horaires complets,
          soit d'éventuellement consulter les horaires des
          correspondances à cet arrêt.</p>
        <h2>Source de données</h2>
        <p>Les horaires indiqués sont théoriques et fournis par Keolis
          Rennes / Rennes Métropole. Un traitement automatique étant
          appliqué à ces données, merci de bien
          vouloir <a href="mailto:maps@dthg.net">contacter
          l'auteur</a> en cas d'erreur ou d'incohérence.</p>
        <p>Ce service n'est pas affilié au STAR, Keolis Rennes ou Rennes Métropole.</p>
      </div>
      <div class="grid_6 omega">
        <h2>Signification des icônes</h2>
        <dl>
          <dt><img src="<%= image_path "bus_red.png" %>" /></dt>
          <dd>Pas de bus dans les 2 heures à venir, plusieurs lignes desservent cet arrêt;</dd>
          <dt><img src="<%= image_path "bus_green.png" %>"/></dt>
          <dd>Au moins un passage de bus dans les 2 heures à venir, plusieurs lignes desservent cet arrêt;</dd>
          <dt><img src="<%= image_path "point_red.png" %>"/></dt>
          <dd>Pas de bus dans les 2 heures à venir, seule la ligne courante dessert cet arrêt;</dd>
          <dt><img src="<%= image_path "point_green.png" %>"/></dt>
          <dd>Au moins un passage de bus dans les 2 heures à venir, seule la ligne courante dessert cet arrêt.</dd>
        </dl>
      </div>
      <%= div_clear %>
    </div>
    <div id="about">
      <p>Cette application a, en partie, été réalisée dans le cadre
      de <span>Rennes Métropole en accès libre</span> et se base sur
      les données GTFS du <span>09/12/2012</span>.</p>
      <p>Retrouvez
      le <a href="http://github.com/stanguy/Star-GFTFS">code source de
      cette application sur Github</a></p>
      <p>Retrouvez <a href="http://itunes.apple.com/fr/app/bus-de-rennes-en-poche/id412512682?mt=8">Bus
      de Ligne en Poche</a> sur l'AppStore Apple</p>
    </div>
  </div>
  <% init_javascript "$.dthg.Bus.init();" %>
