<!DOCTYPE html>
<html>
  <head>
    <title><% if @title %><%= @title %>, <% end %>Bus de Rennes en ligne</title>

    <%= stylesheet_link_tag "application", :media => "screen" %>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=320" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    </head>
  <body>
  

    <%= yield %>
  
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=adsense,geometry"></script> 
    <%= javascript_include_tag "application" %>
    <script>$(document).ready( function() { <%= init_javascripts.join(" ") if init_javascripts %> } );</script>

    <script type="text/javascript">

  var _gaq = _gaq || [];
<% if Rails.env.production? %>
  _gaq.push(['_setAccount', 'UA-56664-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
<% end %>
</script>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/mYbvNI6Ngrf2vaSPxjm6Q.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
  </body>
</html>
